{
  email {$CADDY_EMAIL:ops@example.com}
  order coraza_waf first
  admin off
}

{$TURN_REALM:localhost} {
  log {
    output stdout
    format console
  }

  encode zstd gzip

  header {
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer
  }

  coraza_waf {
    load_owasp_crs
    directives `
      SecRuleEngine On
      SecRequestBodyAccess On
      SecAuditEngine RelevantOnly
    `
  }

  route {
    @health path /health /healthz
    respond @health "Stoat Relay is Online" 200
    respond 403
  }
}
